* {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	background-image: url("./images/pattern-bg-desktop.png");
	font-family: "Rubik", sans-serif;
}


header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1 {
	color: white;
	margin-top: 30px;
	margin-bottom: 20px;
}
.input-container {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

#ip-input {
	width: 30vw;
	border-radius: 10px 0 0 10px;
	border: none;
	padding: 15px;
	font-size: 18px;
}
#input-arrow {
	background-color: black;
	padding: 14px;
	border-radius: 0 10px 10px 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: auto;
}

.card {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 15px;
	width: 65vw;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	top: 5vh;
	z-index: 1;
}

.card-box {
	/* background-color: aqua; */
	position: relative;
	margin: 20px 5px 20px 25px;
	width: 450px;
	height: 80px;
	padding: 8px 5px;
	border-right: 1px solid hsl(0, 0%, 86%);
}

.card h5 {
	position: absolute;
	top: 0;
	color: hsl(0, 0%, 59%);
}

.card p {
	margin-top: 10px;
	color: hsl(0, 0%, 17%);
	font-weight: bolder;
}

#map {
	margin-top: 130px;
	height: 80vh;
	width: 100%;
	border: none;
	z-index: 0;
}

footer {
	background-color: white;
	padding: 10px;
	font-weight: bold;
}

@media (max-width: 540px) {
	.input-container {
		padding-top: 20px;
		margin-bottom: 0px;
	}
	header h1 {
		font-size: 26px;
	}
	#ip-input {
		width: 70vw;
	}

	.card {
		flex-direction: column;
		width: 90vw;
		padding-top: 20px;
		top: 2vh;
	}
	.card h5 {
		font-size: 14px;
		width: 100%;
		text-align: center;
	}

	.card-box{
		width: 300px;
		text-align: center;
		padding: 13px 0;
		font-size: 20px;
		margin: 8px 0;
		height: 35px;
		border-right: 0px;
		border-bottom: 1px solid hsl(0, 0%, 86%);
	}

	#map {
		margin-top: 35vh;
		height: 90vh;
	}
}
